<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trey.fitnesstools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lifting_tools_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lifting_tools_icon"
        android:supportsRtl="true"
        android:theme="@style/LiftingToolsTheme">
        <activity android:name=".ActivityHomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityPlateCalculator" />
        <activity android:name=".ActivityRepMaxCalculator" />
        <activity android:name=".ActivityDeloadCalculator" />
        <activity android:name=".ActivitySetTracker" />
    </application>

</manifest>